@import "~bootstrap/scss/bootstrap.scss";

body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    background-color: black;
    color : white;
}

footer  {
 background-color: black;
 color: white;
 position: absolute;
  bottom: 0;
  width: 100%;

}

.contenedor{
    position: relative;
     min-height: 100vh;
     
}

.titulo {
    text-align: center;
    font-weight: 600;
    color: white;
}

.card-img-topInfo{
    min-width: 200px;
    max-width: 150vw;
    
  margin-left: auto;
  margin-right: auto;
 
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  
  

}

#texto {
  text-align: justify;
  color: rgb(185, 185, 185);
  
  
}